.navbar-nav .nav-link {
    color: rgba(0,0,0,1);
}

.navbar-nav .nav-link:hover {
    color: rgba(0,0,0,0.5);
}

body {
    font-family: 'Comfortaa', cursive;
    background-color: #2B7A78;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }

}


