{% extends 'notes/base.html' %}
{% load static %}

{% block nav-header-left %}
<a class="navbar-brand" href="{% url 'currenttodos' %}" style="color: white;">{{request.user.first_name}}'s Wall</a>
{% endblock %}

{% block content %}
    <div class="container">
            <div class="row justify-content-center mt-4">
                <div class="col-md-10">
                    {% if todos %}
                        <h2  class ="alert shadow p-3 mb-3 bg-white rounded" style="background-color:#3AAFA9;" >{{ todos.count }} Task{{ todos.count|pluralize }} for {{request.user.first_name}}</h2>
                    {% else %}
                        <h2  class ="alert shadow p-3 mb-3 bg-white rounded" style="background-color:#3AAFA9;" >{{request.user.first_name}}'s Current Tasks</h2>
                    {% endif %}
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-md-10">
                {% if todos %}
                    <div class="list-group">
                        {% for todo in todos %}
                            <a href="{% url 'viewtodo' todo.id %}" class="list-group-item list-group-item-action{% if todo.important %} list-group-item-danger{% endif %}"><b>{{ todo.title }}</b>{% if todo.memo %} - {{ todo.memo|truncatechars:30 }} {% endif %} Created at {{todo.created}} </a>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="text-center">
                        <h2 class ="alert shadow-sm p-3 mb-5 bg-white rounded">Looks like you don't have any to-dos remaining! Nice work.</h2>
                    <br>
                    <a role="button" class="btn" style="background-color: #17252A; color:white;" href="{% url 'createtodo' %}">Add a new to-do!</a>
                    </div>
                {% endif %}
                </div>
            </div>
    </div>

{% endblock %}
