{% extends 'notes/base.html' %}
{% load static %}

{% block content %}
<div class="container text-center">
<br>
    <div class="container text-center">
            {% if todos %}
                <h2  class ="alert" style="background-color:hsl(49, 97%, 93%);">{{ todos.count }} Task{{ todos.count|pluralize }} for {{request.user.first_name}}</h2>
            {% else %}
                           <h2  class ="alert" style="background-color:hsl(49, 97%, 93%);" >{{request.user.first_name}}'s Current Tasks</h2>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
        {% if todos %}
            <div class="list-group">
                {% for todo in todos %}
                    <a href="{% url 'viewtodo' todo.id %}" class="list-group-item list-group-item-action{% if todo.important %} list-group-item-danger{% endif %}"><b>{{ todo.title }}</b>{% if todo.memo %} - {{ todo.memo|truncatechars:30 }} {% endif %} Created at {{todo.created}} </a>
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center">
                <h2 class ="alert" style="background-color:hsl(326, 81%, 93%);">Looks like you don't have any to-dos remaining! Nice work.</h2>
            <br>
            <a role="button" class="btn btn-primary" href="{% url 'createtodo' %}">Add a new to-do!</a>
            </div>
        {% endif %}
        </div>
    </div>

{% endblock %}
