{% extends 'notes/base.html' %}
{% load static %}

    {% block content %}
      <br>


<div class="container text-center">
 <h2 class ="alert" style="background-color:hsl(6, 45%, 92%);">Life is busy. But let's not make it unorganized </h2>
    <div class = "container" style="background-color:hsl(120, 100%, 97%);">
    <h4 class ="alert" style="background-color:hsl(120, 100%, 97%);">Let your productivity soar like an Eagle's flight!</h4>
    <div class="row justify-content-center my-2">
  <div class="col-2">
    <img src="{% static 'notes/Logo.png' %}" class="img-fluid">
  </div>
</div><br>
        <h4 >Just do it! But first, Schedule.It</h4></div>

    <div class = "container" style="background-color:hsl(300, 100%, 95%);" ><br>
        <h5> To continue, Please Log-in</h5><br>
    <form method ="POST">
    {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                     </div>
            {% endif %}

    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit"class="btn btn-info">Log In</button> <br><br>
</form></div>

   <hr>
    <div class="text-center">
                Don't have an account? <a href="{% url 'signupuser' %}">Sign Up Now</a>
            </div>


    </div>
      {% endblock %}

