{% extends 'notes/base.html' %}
{% load static %}

{% block nav-header-left %}
<a class="navbar-brand" href="{% url 'loginuser' %}" style="color: white;">Your Private Productivity Space</a>
{% endblock %}

{% block content %}
      <br>


<div class="container text-center">
 <h4 class ="alert shadow p-3 mb-2 rounded" style="background-color:#64f0e9;">Life is busy. But let's not make it unorganized </h4>
    <div class = "shadow p-3 mb-2 rounded" style="background-color:#64f0e9;">
        <h4 class ="alert">Let your productivity soar like an Eagle's flight!</h4>
        <div class="row justify-content-center my-2">
          <div class="col-2">
            <img src="{% static 'notes/Logo.png' %}" class="img-fluid">
          </div>
        </div>
      <br>
            <h4 >Just do it! But first, Schedule.It</h4>
    </div>

    <a id="Login"></a>
    <div class ="alert shadow p-3 mb-2 rounded" style="background-color:#64f0e9;" >
        <h5 class="mb-2"> To continue, Please Log-in</h5>
    <form method ="POST">
    {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                     </div>
            {% endif %}

    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn" style="background-color: #17252A; color:white;">Log In</button>
</form></div>

    <div class="text-center mt-2" style="color: white;">
     Don't have an account? <a href="{% url 'signupuser' %}" style="color: #64f0e9;">Sign Up Now</a>
    </div>


    </div>
      {% endblock %}

